/target
**/target
**/*.log
*.log
http-cacache/
.gitignore
.dockerignore
Dockerfile
**/Dockerfile
**/.gitignore
**/.dockerignore
.editorconfig
**/.editorconfig
.idea/
**/.idea/
.vscode/
**/.vscode/
**/*~
*~
temp/
**/temp/
tests/
**/tests/
examples/
**/examples/
benches/
**/benches/
